.app{
  color:red;
  border:1px solid black;
  text-align:center;
  text-decoration: overline;

  
}
.sha{
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}
.box{
  width: 50%;
  height:50%;
  color: aliceblue;
}
._app{
  transform: rotate(300);
  -webkit-transform: rotate(300);
  -moz-transform: rotate(300);
  -ms-transform: rotate(300);
  -o-transform: rotate(300);
}